input[type=text]{
    width: 80%;
    padding: 12px 30px;
    border: 1px solid #42f56c;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  .search button{
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: -1;
  }
  .search{
    text-align: center;
    padding: 10px;
  }
  .recipe-page{
    background-color:#e8eeea ;
  }
  .row{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    background-color: #e8eeea;
    padding: 10px;
  }
  .row img{
    width: 400px;
    height: 250px;
    border-radius: 5px;
  }
  .row h3{
    font-size: 1.7rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .row button{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .single-recipe-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .single-recipe-page p{
    font-size: 2rem;
  }
  .single-recipe-page h1{
    font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .single-recipe-page img{
   border-radius: 2px;
  }
  @media(max-width: 480px){
    .row{
        display: flex;
    }  
    .single-recipe-page{
        display: flex;
        justify-content: center;
    }
    .single-recipe-page h1{
        padding: 3px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .single-recipe-page p{
        text-align: center;
        font-size: 1.8rem;
        padding: 3px;
      }
  }
  
  